.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: calc(90vh - 20px);
}

.App-footer {
  height: 20px;
  background-color: #282c34;
  color: white;
  text-align: right;
}

.App-footer a {
  color: white;
  text-decoration: none;
}

.App-link {
  color: orange;
}

#all-pieces-area {
  max-width: 520px;
  border: 1px solid;
  margin: 20px;
  margin-inline: auto;
}
.piece {
  margin: 10px;
}
.selected-piece {
  opacity: 0.3;
}

#selected-pieces-area {
  width: 260px;
  min-height: 90px;
  border: 2px solid;
  border-radius: 10px;
  margin: 10px;
  margin-inline: auto;
}
.valid-game {
  border-color: green !important;
}


#solutions-area {
  margin: 20px;
  margin-inline: auto;
  max-width: 1000px;  /* 4 solutions per line = 4 variants of a 1 solution when counding horizontal and vertical symetries */
}
.solution {
  max-width: 200px;
  margin: 10px;
}

.text-left {
  text-align: left;
  margin-left: 4px;
  margin-top: 3px;
}

