on: [pull_request]

name: Build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_lib_bindgen:
    name: Build lib-wasm 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v2

      - uses: ./.github/actions/build-wasm

      - name: Upload wasm package
        uses: actions/upload-artifact@v4
        with:
          name: wasm-pkg
          path: lib-wasm/pkg

  build_web:
    name: Build web
    needs: build_lib_bindgen
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v2

      - name: Download wasm package
        uses: actions/download-artifact@v4
        with:
          name: wasm-pkg
          path: lib-wasm/pkg

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'web/package-lock.json'

      - uses: Swatinem/rust-cache@v2

      - run: npm ci --legacy-peer-deps
      # - run: npm test
      - run: npm run build
