name: Deployment
on:
  push:
    branches:
      - main
jobs:
  deploy:
    name: Deploy web
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: 'web/package-lock.json'

      - uses: Swatinem/rust-cache@v2

      - uses: ./.github/actions/build-wasm

      - name: Install Packages
        run: npm ci --legacy-peer-deps

      - name: Build page
        run: npm run build
        
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/build
