on:
  push:
    branches:
      - main
  pull_request:

name: Tests

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_lib:
    name: Test lib
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Cache Cargo
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: |
            lib
      - uses: actions-rs/cargo@v1
        with:
          command: test
