name: Web Lint

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  web_lint:
    name: Web Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'web/package-lock.json'

      - uses: Swatinem/rust-cache@v2

      - name: Build lib-wasm
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      
      - name: Build wasm package
        working-directory: ./lib-wasm
        run: wasm-pack build --target web

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Run Lint
        run: npm run lint
